<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZXVideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>296FA9991CC7126C003FC0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296FA9B21CC7126D003FC0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296FA9BD1CC7126D003FC0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
